{% extends 'template.html' %}
{% block content %}
    <ol class="breadcrumb" style="margin: 10px 0 0 0">
        <template v-for="(v,k) in city">
            <li v-if="k==city.length-1" class="active">[[ v ]]</li>
            <li v-else><a href="#" @click="jump(k)">[[ v ]]</a><span class="divider">&nbsp-&nbsp</span></li>
        </template>
    </ol>
    <div id="treemap" class="echarts" style="flex:1"></div>
{% endblock %}
<script>
    {% block script %}
        $("a:contains('城市')").addClass('active');
        $("title").text('全国');
        ids = [];
        let treemap_header = new Vue({
            el: '.breadcrumb',
            mounted: function () {
                setTimeout(this.post, 0)
            },
            data: {
                city: ['全国'],
                citys: {},
                data: {}
            },
            methods: {
                post: function () {
                    let _this = this;
                    $.post('{% url 'data' %}', {'type': 'city'}, function (res) {
                        loading.hide();
                        creat_treemap($('#treemap'));
                        _this.citys = res;
                        _this.data = res;
                        if ('{{ city }}' !== 'index') {
                            _this.city = ['全国'].concat('{{ city }}'.split('-'));
                        }
                        else {
                            _this.city = ['全国']
                        }
                        _this.jump(_this.city.length);
                    });
                },
                jump: function (n) {
                    let _this = this;
                    _this.city = _this.city.slice(0, n + 1);
                    _this.data = _this.citys;
                    $.each(_this.city.slice(1), function (k, v) {
                        _this.data = _this.data[v]
                    });
                    if (this.city.length === 1) {
                        $("title").text('全国')
                    }
                    else {
                        $("title").text(this.city.slice(1).join('-'));
                    }
                    treemap()
                }
            }
        });
        function creat_treemap(div) {
            div.height($(window).height() / 2);
            echarts_treemap = echarts.init(div.get(0));
            echarts_treemap.on('click', function (params) {
                if ((params.name) && ((treemap_header.city.length < 4))) {
                    treemap_header.city.push(params.name);
                    treemap_header.jump(treemap_header.city.length);
                }
            });
        }
        function treemap() {
            let option = {
                series: [{
                    name: '全国',
                    type: 'treemap',
                    height: '100%',
                    width: '100%',
                    itemStyle: {
                        normal: {
                            borderColor: 'rgba(255,255,255,0)',
                            borderWidth: 2
                        }
                    },
                    drillDownIcon: '',
                    colorMappingBy: 'id',
                    breadcrumb: false,
                    nodeClick: 'link',
                    leafDepth: 1,
                    data: conversion(treemap_header.data, 0)
                }]
            };
            echarts_treemap.clear();
            echarts_treemap.setOption(option);
        }
        function conversion(data_old, n) {
            let data_new = [];
            $.each(data_old, function (k, v) {
                let item = '';
                if (n < 4 - treemap_header.city.length) {
                    item = {
                        id: Math.floor(Math.random() * 30),
                        name: k,
                        children: conversion(v, n + 1),
                        label: {
                            normal: {
                                show: true,
                                formatter: '{b} {c}'
                            }
                        }
                    }
                }
                else {
                    item = {
                        id: Math.floor(Math.random() * 30),
                        name: v,
                        value: 1,
                        link: '{% url 'station' '*' %}'.replace('*', v),
                        label: {
                            normal: {
                                show: true,
                                formatter: '{b}站'
                            }
                        }
                    }
                }
                data_new.push(item)
            });
            return data_new
        }
    {% endblock %}
</script>