{% extends 'template.html' %}
{% block content %}
    <div id="nav">
        <template v-for="level,n in levels">
            <label>
                <select class="form-control" v-model="select[n]" style="width:200px">
                    <option value="">-----[[ level ]]-----</option>
                    <option v-for="city in citys_tmp[n]">[[ city.split('-').reverse()[0] ]]</option>
                </select>
            </label>
        </template>
        <br/>
        [[ select ]]
    </div>
    <div id="treemap" class="echarts" style="width: 500px;height: 300px"></div>
{% endblock %}
<script>
    {% block script %}
        $("a:contains('城市')").addClass('active');
        $("title").text('全国');
        var treemap = echarts.init($('#treemap').get(0));
        var nav = new Vue({
            el: '#nav',
            created: function () {
                var self = this;
                $.post('{% url 'data' %}', {'type': 'city_index', 'level': self.levels.length}, function (res) {
                    loading.hide();
                    $.each(self.levels, function (n, v) {
                        self.citys.push([]);
                        self.select.push('');
                        self.select_tmp.push('')
                    });
                    $.each(self.format_data(res, []), function (m, city) {
                        $.each(self.levels, function (n, v) {
                            if ($.inArray(city.slice(0, n + 1).join('-'), self.citys[n]) === -1) {
                                self.citys[n].push(city.slice(0, n + 1).join('-'))
                            }
                        })
                    });
                    self.citys_tmp = self.citys.slice();
                    self.$forceUpdate()
                })
            },
            data: {
                levels: ['省', '市', '县'],
                citys: [],
                citys_tmp: [],
                select: [],
                select_tmp: []
            },
            watch: {
                select: function () {
                    var self = this;
                    $.each(self.levels, function (x, xv) {
                        if (self.select[x] !== self.select_tmp[x]) {
                            $.each(self.levels.slice(x + 1), function (y, yv) {
                                self.select[x + y + 1] = '';
                                self.citys_tmp[x + y + 1] = [];
                                $.each(self.citys[x + y + 1], function (z, zv) {
                                    if (zv.split('-')[x].indexOf(self.select[x]) > -1) {
                                        self.citys_tmp[x + y + 1].push(zv)
                                    }
                                })
                            })
                        }
                    });
                    this.select_tmp = this.select.slice()
                }
            },
            methods: {
                format_data: function (old_data, old_city) {
                    var self = this;
                    var new_data = [];
                    $.each(old_data, function (k, v) {
                        var new_city = old_city.slice();
                        if (typeof v === 'object') {
                            new_city.push(v[0]);
                            new_data = new_data.concat(self.format_data(v[1], new_city))
                        }
                        else {
                            new_city.push(v);
                            new_data.push(new_city)
                        }
                    });
                    return new_data
                }
            }
        });
        function set_treemap() {
            var option = {
                series: [{
                    name: '全国',
                    type: 'treemap',
                    height: '100%',
                    width: '100%',
                    itemStyle: {
                        normal: {
                            borderColor: 'rgba(255,255,255,0)',
                            borderWidth: 2
                        }
                    },
                    label: {
                        normal: {
                            show: true,
                            formatter: '{b} {c}'
                        }
                    },
                    colorMappingBy: 'id',
                    breadcrumb: false,
                    nodeClick: false,
                    data: data
                }]
            };
            treemap.clear();
            treemap.setOption(option);
        }
    {% endblock %}
</script>