{% extends 'template.html' %}
{% block content %}
    <h1>站图</h1>
    <div id="index" class="carousel slide" data-ride="carousel">
        <!-- 指示符 -->
        <ul class="carousel-indicators">
            {% for station in stations %}
                <li data-target="#index"
                    data-slide-to={{ forloop.counter0 }} {% if forloop.first %}class="active"{% endif %}></li>
            {% endfor %}
        </ul>
        <!-- 轮播图片 -->
        <div class="carousel-inner">
            {% for station in stations %}
                <div style="overflow:auto" class="carousel-item {% if forloop.first %}active{% endif %}">
                    <a href="{% url 'station' station %}">
                        <img src="{{ qiniu }}{{ station }}{{ format }}" alt="{{ station }}" class="rounded">
                    </a>
                    <div class="carousel-caption"><strong>{{ station }}</strong></div>
                </div>
            {% endfor %}
        </div>

        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#index" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#index" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
{% endblock %}
{% block script %}
    <script>
        $('img').tooltip();
        $("a:contains('主页')").addClass('active');
        $('.container').height($(window).height() - $('#header').height() - $('#footer').height() - 32);
    </script>
{% endblock %}