{% extends 'template.html' %}
{% block content %}
    <div id="carousel" class="carousel slide" data-ride="carousel" style="height:50%">
        <!-- 指示符 -->
        <ul class="carousel-indicators">
            <li v-for="item in items" data-target="#carousel" :data-slide-to="item.n"
                :class="{ active: item.active}"></li>
        </ul>
        <!-- 轮播图片 -->
        <div class="carousel-inner" style="height: 100%;">
            <div v-for="item in items" class="carousel-item" :class="{ active: item.active}"
                 style="overflow: auto;height:100%">
                <a :href="item.href">
                    <img :src="item.src" :alt="item.text" class="img-fluid img-thumbnail" style="height: 100%">
                </a>
                <div class="carousel-caption">
                    <strong>[[ item.text ]]</strong>
                </div>
            </div>
        </div>
        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#carousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <div id="search" class="search" style="position:relative;width: 100%;max-width: 500px">
        <br/>
        <input class="form-control" v-model="input" @input="search"
               @blur="blur"
               title="search">
        <div style="position:absolute;z-index:10;word-wrap:break-word">
            <template v-for="(vs, k, n) in suggest">
                <div v-if="n>0" class="dropdown-divider"></div>
                <p v-if="vs" class="dropdown-header">[[ k ]]</p>
                <a v-for="v in vs" :href="v[0]">
                    <span class="badge badge-light">[[ v[1] ]]</span>
                </a>
            </template>
        </div>
        <br/>
        <button type="button" class="btn btn-secondary" @click="luck">手气不错</button>
    </div>
{% endblock %}
<script>
    {% block script %}
        loading.hide();
        let index_search = new Vue({
            el: '#search',
            mixins: [search]
        });
        let carousel = new Vue({
            el: '#carousel',
            created: function () {
                let items = [];
                $.each(this.data, function (n, station) {
                    let item = {
                        'href': '{% url 'station' '*' %}'.replace('*', station),
                        'src': '{{ qiniu }}' + station + '{{ format }}',
                        'text': station,
                        'n': n,
                        'active': false
                    };
                    if (n === 0) {
                        item.active = true
                    }
                    items.push(item)
                });
                this.items = items
            },
            data: {
                data:{{ stations|safe }},
                items: []
            }
        });
    {% endblock %}
</script>