{% extends 'template.html' %}
{% block head %}
    <style>
        a {
            color: #F0F0F0
        }

        a:hover {
            color: #FFF
        }
    </style>
{% endblock %}
{% block content %}
    <div id="lines">
        <ul id="line_tab" class="nav nav-tabs" role="tablist">
            <template v-for="tab in tabs">
                <li v-if="tab.show" class="nav-item">
                    <a class="nav-link" :class="{ active: tab.active}" :href="tab.href" data-toggle="tab">
                        <span class="badge badge-pill badge-dark">[[ tab.text ]]</span>
                    </a>
                </li>
            </template>
        </ul>
        <div id="line_content" class="tab-content">
            <div v-for="content in contents" :id="content.id" class="tab-pane" :class="{ active: content.active}">
                <a v-for="line in content.lines" :href="line.href">
                    <span class="badge badge-dark" style="font-size: 14px;margin: 5px;padding: 5px">
                        [[ line.text ]]<span class="badge badge-light" style="margin: 0 0 0 3px;padding: 3px">[[ line.info ]]</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
<script>
    {% block script %}
        $("title").text('车次');
        $('#index').css('justify-content', '');
        let lines = new Vue({
            el: '#lines',
            created: function () {
                let tabs = [];
                let contents = [];
                $.each({{ line_codes|safe }}, (n, code) => {
                    let tab = {'active': false, 'href': '#line_' + code, 'text': code, 'show': false};
                    let content = {'id': 'line_' + code, 'active': false, 'lines': []};
                    if (n === 0) {
                        tab.active = true;
                        content.active = true
                    }
                    tabs.push(tab);
                    $.post('{% url 'data' %}', {'type': 'line_index', 'code': code}, (line) => {
                        loading.hide();
                        $.each(line, function () {
                            content.lines.push({
                                'href': '{% url 'line' '*' %}'.replace('*', this[0]),
                                'text': this[0],
                                'info': this[1] + '-' + this[2]
                            })
                        });
                        tabs[n].show = true;
                        contents.push(content);
                    })
                });
                this.tabs = tabs;
                this.contents = contents
            },
            data: {
                tabs: [],
                contents: []
            }
        });
    {% endblock %}
</script>