{% extends 'station.html' %}
{% block script %}
    <script>
        $("a:contains('车次')").addClass('active');
        var line = '{{ line }}';
        var th = ['站序', '车站', '到日', '到时', '发日', '发时', '停留'];
        $('title,#title').text(line + '次');
        $('#info').text('{{start}} - {{arrive}}');
        $.each(th, function () {
            $('#table').find('thead').find('tr').append($('<td>').text(this));
        });
        $.post('{% url 'data' %}', {'type': 'line', 'line': '{{ line }}'}, function (data) {
            $.each(data, function (n, station) {
                var tr = $('<tr>');
                $.each(station, function (n, txt) {
                    if (n == 1) {
                        td = $('<td>').append($('<a>').attr('href', '/station/' + txt).text(txt))
                    }
                    else {
                        td = $('<td>').text(txt);
                    }
                    tr.append(td)
                });
                $('#table').find('tbody').append(tr);
            });
        })
    </script>
{% endblock %}