{% extends 'template.html' %}
{% block content %}
    <br/>
    <div>
        <div id="map"></div>
    </div>
    <div style="overflow:auto">
        <table id='time_table' class='table table-hover table-bordered'>
            <thead>
            <template>
                <tr v-if="table.length>0">
                    <th v-for="th in ths">[[ th ]]</th>
                </tr>
            </template>
            </thead>
            <tbody>
            <tr v-for="items in table">
                <template v-for="item in items">
                    <td v-if="'href' in item"><a :href="item.href">[[ item.text ]]</a></td>
                    <td v-else if="'span' in item"><span :class="item.span">[[ item.text ]]</span></td>
                    <td v-else>[[ item.text ]]</td>
                </template>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
<script>
    {% block script %}
        $("a:contains('车次')").addClass('active');
        loading.show();
        new Vue({
            el: '#time_table',
            delimiters: ['[[', ']]'],
            mounted: function () {
                setTimeout(this.get, 0)
            },
            data: {
                ths: ['站序', '车站', '到日', '到时', '发日', '发时', '停留'],
                table: []
            },
            methods: {
                get: function () {
                    var _this = this;
                    $.post('{% url 'data' %}', {'type': 'line', 'line': '{{ line}}'}, function (res) {
                        loading.hide();
                        set_map(res);
                        $.each(res, function () {
                            var items = [];
                            $.each(this, function (n, text) {
                                if (n > 4) {
                                    var item = {'text': text};
                                    if (n === 6) {
                                        item.href = '{% url 'station' '*' %}'.replace('*', text)
                                    }
                                    else if ($.inArray(text, [0, -1, -2]) > -1) {
                                        item.span = 'badge badge-pill badge-' + ['warning', 'success', 'danger'][0 - text];
                                        item.text = ['乘降所', '始发', '终到'][0 - text];
                                        if (text === -1) {
                                            items[2].text = '-';
                                            items[3].text = '-'
                                        }
                                        else if (text === -2) {
                                            items[4].text = '-';
                                            items[5].text = '-'
                                        }
                                    }
                                    items.push(item)
                                }
                            });
                            _this.table.push(items)
                        })
                    })
                }
            }
        });
        function set_map(data) {
            var map_div = $('#map');
            [center, zoom] = map_area(map_div, data);
            var map = echarts.init(map_div.get(0));
            option = {
                title: {
                    text: '{{ line }}',
                    textStyle: {
                        color: 'white'
                    },
                    subtext: '{{start}} - {{arrive}}',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    orient: 'vertical',
                    position: function (point, params, dom, rect, size) {
                        if (point[1] > size['contentSize'][1]) {
                            return 'top'
                        }
                        else {
                            return 'bottom'
                        }
                    },
                    formatter: function (params) {
                        params = params.value;
                        var a = '';
                        var b = '';
                        if (params[5] === 1) {
                            a = '始发站：';
                            b = '出发：' + params[10] + '<br/>'
                        }
                        else if (params[5] === data.length) {
                            a = '终点站：';
                            b = '到达：' + params[8] + '<br/>'
                        }
                        else {
                            a = '第' + params[5] + '站：';
                            b = '到达：' + params[8] + '<br/>出发：' + params[10] + '<br/>';
                        }
                        return a + params[6] + '<br/>' + b
                    }
                },
                bmap: {
                    center: center,
                    zoom: zoom,
                    roam: true,
                    mapStyle: mapStyle_black
                },
                series: {
                    name: '车站',
                    coordinateSystem: 'bmap',
                    type: 'scatter',
                    symbolSize: 2 * zoom,
                    data: data,
                    label: {
                        normal: {
                            formatter: function (params) {
                                return params.value[5]
                            },
                            show: true,
                            fontSize: 1.5 * zoom
                        },
                        emphasis: {
                            fontSize: 2 * zoom
                        }
                    },
                    itemStyle: {
                        normal: {
                            opacity: 1,
                            shadowColor: '#FFF',
                            shadowBlur: 2
                        },
                        emphasis: {
                            borderColor: '#FFF',
                            borderWidth: 1
                        }
                    }
                }
            };
            map.on('click', function (param) {
                document.location.href = '{% url 'station' '*' %}'.replace('*', param['data'][6])
            });
            map.setOption(option);
        }
    {% endblock %}
</script>