{% extends 'template.html' %}
{% block head %}
    <style>
        a {
            color: #F0F0F0
        }

        a:hover {
            color: #FFF
        }
    </style>
{% endblock %}
{% block content %}
    <ul id="line_tab" class="nav nav-tabs" role="tablist"></ul>
    <div id="line_content" class="tab-content"></div>
{% endblock %}
<script>
    {% block script %}
        $("a:contains('车次')").addClass('active');
        $.each({{ line_codes|safe }}, function (n, code) {
            var li = $('<li>').addClass('nav-item');
            var a = $('<a>').addClass('nav-link').attr({'href': '#line_' + code, 'data-toggle': 'tab'});
            var div = $('<div>').addClass('tab-pane').attr('id', 'line_' + code);
            if (n === 0) {
                a.addClass('active');
                div.addClass('active')
            }
            a.append($('<span>').addClass('badge badge-pill badge-dark').text(code));
            $('#line_tab').append(li.append(a));
            $('#line_content').append(div);
            $.post('{% url 'data' %}', {'type': 'line_index', 'code': code}, function (data) {
                $.each(data, function () {
                    var button = $('<button>').addClass('btn btn-dark').attr('type', 'button').css('margin', '3px');
                    var button_a = $('<a>').attr({
                        'target': '_blank',
                        'href': '{% url 'line' '*' %}'.replace('*', this[0])
                    }).text(this[0]);
                    button.append(button_a.append($('<span>').addClass('badge badge-light').text(this[1] + '-' + this[2])));
                    $('#line_' + code).append(button)
                });
            });
        });
    {% endblock %}
</script>