{% extends 'template.html' %}
{% block content %}
    <div style="overflow:auto">
        <table id='log_table' class='table table-hover table-bordered'>
            <thead>
            <template v-if="table.length>0">
                <tr>
                    <th v-for="th in ths">[[ th ]]</th>
                </tr>
            </template>
            </thead>
            <tbody>
            <tr v-for="items in table">
                <template v-for="item in items">
                    <td>[[ item ]]</td>
                </template>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
<script>
    {% block script %}
        loading.show();
        var log_table = new Vue({
            el: '#log_table',
            mounted: function () {
                setTimeout(this.get, 0);
            },
            data: {
                ths: ['时间', '日志'],
                table: []
            },
            methods: {
                get: function () {
                    var self = this;
                    $.post('{% url 'data' %}', {'type': 'log'}, function (res) {
                        loading.hide();
                        self.table = [];
                        $.each(res, function () {
                            self.table.push(this)
                        })
                    })
                }
            }
        });
    {% endblock %}
</script>