{% extends 'template.html' %}
{% block content %}
    <div style="overflow:auto">
        <table id='log_table' class='table table-hover table-bordered'>
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
<script>
    {% block script %}
        var th = ['时间', '日志'];
        $.each(th, function () {
            $('#table').find('thead').find('tr').append($('<td>').text(this));
        });
        log();
        setInterval(log, 10 * 1000);

        function log() {
            $.post('{% url 'data' %}', {'type': 'log'}, function (data) {
                $('#table').find('tbody').empty();
                $.each(data, function (n, station) {
                    var tr = $('<tr>');
                    $.each(station, function (n, txt) {
                        tr.append($('<td>').text(txt))
                    });
                    $('#table').find('tbody').append(tr);
                });
            })
        }
    {% endblock %}
</script>