{% extends 'template.html' %}
{% block head %}
    <style>
        #masonry h5 {
            margin: 0;
            color: #000
        }

        #masonry p {
            margin: 0;
            color: #AAA;
            font-size: 10px
        }

        #masonry a:hover {
            background-color: #EEE
        }

        #masonry a:hover > h5, #masonry a:hover > p {
            font-weight: bold
        }
    </style>
    <script>$.ajaxSetup({async: false})</script>
{% endblock %}
{% block content %}
    <div id="masonry">
    </div>
{% endblock %}
<script>
    {% block script %}
        $("a:contains('车站')").addClass('active');
        var img_start = 0;
        var scrollTop = 0;
        var $grid = $('#masonry').masonry();
        masonry(10);
        $(window).scroll(function () {
            scrollTop = $(this).scrollTop();
            $grid.imagesLoaded(function () {
                masonry(10)
            })
        });

        function masonry(n) {
            if (($('#footer').offset().top < $(window).height() * 3 + scrollTop) && (img_start + n <={{ count }})) {
                $.post('{% url 'data' %}', {
                    'type': 'station_index',
                    'start': img_start,
                    'end': img_start + n
                }, function (data) {
                    $.each(data, function () {
                        img_start = img_start + 1;
                        var a = $('<a>').addClass('img-thumbnail').css({'max-width': '210px', 'margin': '4px'}).attr({
                            'href': '{% url 'station' '*' %}'.replace('*', this[0])
                        }).append(
                            $('<img>').attr({
                                'alt': this[0],
                                'src': '{{ qiniu }}' + this[0] + '{{ format }}'
                            })
                        ).append($('<h5>').text(this[0])).append($('<p>').text(this[1] + ' ' + this[2] + ' ' + this[3]));

                        $grid.append(a).masonry('appended', a);
                        $grid.imagesLoaded(function () {
                            $grid.masonry({itemSelector: 'a'});
                        })
                    });
                    $grid.imagesLoaded(function () {
                        masonry(n)
                    })
                })
            }
        }

        $(window).resize(function () {
            masonry(scrollTop);
        });
    {% endblock %}
</script>