{% extends 'template.html' %}
{% block content %}
    <div class="echarts" style="overflow:hidden">
        <div id="map"></div>
    </div>
    <table id='line_table' class='table table-hover table-bordered'>
        <thead>
        <template v-if="table.length>0">
            <tr>
                <th v-for="th in ths">[[ th ]]</th>
            </tr>
        </template>
        </thead>
        <tbody>
        <tr v-for="items in table">
            <template v-for="item in items">
                <td v-if="'href' in item"><a :href="item.href">[[ item.text ]]</a></td>
                <td v-else if="'span' in item"><span :class="item.span">[[ item.text ]]</span></td>
                <td v-else>[[ item.text ]]</td>
            </template>
        </tr>
        </tbody>
    </table>
{% endblock %}
<script>
    {% block script %}
        loading.show();
        $("a:contains('车站')").addClass('active');
        $("title").text('{{ station }}');
        var line_table = new Vue({
            el: '#line_table',
            mounted: function () {
                setTimeout(this.get, 0)
            },
            data: {
                ths: ['车次', '始发', '终到', '到达', '出发', '停留'],
                table: []
            },
            methods: {
                get: function () {
                    var _this = this;
                    $.post('{% url 'data' %}', {'type': 'station', 'station': '{{ station }}'}, function (res) {
                        loading.hide();
                        map(res.车站, res.车次.length);
                        $.each(res.车次, function () {
                            var items = [];
                            $.each(this, function (n, text) {
                                var item = {'text': text};
                                if (n < 3) {
                                    item.href = ['{% url 'line' '*' %}', '{% url 'station' '*' %}', '{% url 'station' '*' %}'][n].replace('*', text)
                                }
                                else if ($.inArray(text, [-1, -2]) > -1) {
                                    item.span = 'badge badge-pill badge-' + ['success', 'danger'][-1 - text];
                                    item.text = ['始发', '终到'][-1 - text];
                                    items.slice(-3 - text)[0].text = '-'
                                }
                                items.push(item)
                            });
                            _this.table.push(items)
                        })
                    })
                }
            }
        });
        function map(data, lines_num) {
            var map_div = $('#map');
            [center, zoom] = map_area(map_div, data);
            var echarts_map = echarts.init(map_div.get(0));
            var option = {
                title: {
                    text: '{{ station }}',
                    textStyle: {
                        color: 'white'
                    },
                    subtext: '{{province}} {{city}} {{county}}',
                    sublink: '{% url "city" "*" %}'.replace('*', '{{province}}-{{city}}-{{county}}'),
                    subtarget: 'self',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    orient: 'vertical',
                    position: function (point, params, dom, rect, size) {
                        if (point[1] > size['contentSize'][1]) {
                            return 'top'
                        }
                        else {
                            return 'bottom'
                        }
                    }
                },
                visualMap: {
                    min: 0,
                    max: 10,
                    bottom: '50px',
                    inRange: {
                        color: ['#50a3ba', '#eac736', '#d94e5d'].reverse()
                    },
                    inverse: true,
                    textStyle: {
                        color: '#fff'
                    },
                    dimension: 7
                },
                bmap: {
                    center: center,
                    zoom: zoom,
                    roam: true,
                    mapStyle: mapStyle_black
                },
                series: [
                    {
                        name: '本站',
                        zlevel: 10,
                        coordinateSystem: 'bmap',
                        type: 'effectScatter',
                        symbol: 'diamond',
                        symbolSize: 5 * zoom,
                        showEffectOn: 'render',
                        rippleEffect: {
                            brushType: 'stroke'
                        },
                        data: [data[0]],
                        label: {
                            normal: {
                                formatter: function (params) {
                                    return params.value[2]
                                },
                                show: true
                            }
                        },
                        tooltip: {
                            formatter: function () {
                                return '{{ station }}<br/>'
                                    + '连通车站：' + (data.length - 1) + ' 座<br/>'
                                    + '经过车次：' + lines_num + ' 次'
                            }
                        }
                    },
                    {
                        name: '车站',
                        zlevel: 5,
                        coordinateSystem: 'bmap',
                        type: 'scatter',
                        symbolSize: function (val) {
                            return Math.sqrt(val[6]) + zoom;
                        },
                        data: data.slice(1),
                        label: {
                            emphasis: {
                                formatter: function (params) {
                                    return params.value[2]
                                },
                                show: true
                            }
                        },
                        tooltip: {
                            formatter: function (params) {
                                params = params.value;
                                return params[2] + '<br/>'
                                    + '最快可达：' + params[7] + ' 小时<br/>'
                                    + '连接车次：' + params[6] + ' 车次'
                            }
                        },
                        itemStyle: {
                            normal: {
                                opacity: 1,
                                shadowColor: '#FFF',
                                shadowBlur: 2
                            },
                            emphasis: {
                                borderColor: '#FFF',
                                borderWidth: 1
                            }
                        }
                    }
                ]
            };
            echarts_map.on('click', function (param) {
                document.location.href = '{% url 'station' '*' %}'.replace('*', param['data'][2])
            });
            echarts_map.setOption(option);
        }
    {% endblock %}
</script>