{% extends 'template.html' %}
{% block content %}
    <br/>
    <div>
        <div id="map"></div>
    </div>
    <div style="overflow:auto">
        <table id='line_table' class='table table-hover table-bordered'>
            <thead>
            <template v-if="table.length>0">
                <tr>
                    <th v-for="th in ths">[[ th ]]</th>
                </tr>
            </template>
            </thead>
            <tbody>
            <tr v-for="items in table">
                <template v-for="item in items">
                    <td v-if="'href' in item"><a :href="item.href">[[ item.text ]]</a></td>
                    <td v-else if="'span' in item"><span :class="item.span">[[ item.text ]]</span></td>
                    <td v-else>[[ item.text ]]</td>
                </template>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
<script>
    {% block script %}
        $("a:contains('车站')").addClass('active');
        $("title").text('{{ data.cn }}');
        loading.show();
        var station = '{{ data.cn }}';
        new Vue({
            el: '#line_table',
            delimiters: ['[[', ']]'],
            mounted: function () {
                setTimeout(this.get, 0)
            },
            data: {
                ths: ['车次', '始发', '终到', '到达', '离开', '停留'],
                table: []
            },
            methods: {
                get: function () {
                    var _this = this;
                    $.post('{% url 'data' %}', {'type': 'station', 'station': station}, function (res) {
                        loading.hide();
                        set_map(res[1]);
                        $.each(res[0], function () {
                            var items = [];
                            $.each(this, function (n, text) {
                                var item = {'text': text};
                                if (n < 3) {
                                    item.href = ['{% url 'line' '*' %}', '{% url 'station' '*' %}', '{% url 'station' '*' %}'][n].replace('*', text)
                                }
                                else if ($.inArray(text, [-1, -2]) > -1) {
                                    item.span = 'badge badge-pill badge-' + ['success', 'danger'][-1 - text];
                                    item.text = ['始发', '终到'][-1 - text]
                                }
                                items.push(item)
                            });
                            _this.table.push(items)
                        })
                    })
                }
            }
        });
        function set_map(data) {
            var map_div = $('#map');
            [center, zoom] = map_area(map_div, data);
            var map = echarts.init(map_div.get(0));
            var option = {
                title: {
                    text: station,
                    textStyle: {
                        color: 'white'
                    },
                    subtext: '{{data.province}} {{data.city}} {{data.county}}',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    orient: 'vertical',
                    position: function (point, params, dom, rect, size) {
                        if (point[1] > size['contentSize'][1]) {
                            return 'top'
                        }
                        else {
                            return 'bottom'
                        }
                    }
                },
                visualMap: {
                    show: false,
                    top: 0,
                    right: 0,
                    orient: 'horizontal',
                    pieces: [
                        {lte: 1, label: '1小时'},
                        {gt: 1, lte: 3, label: '3小时'},
                        {gt: 3, lte: 8, label: '8小时'},
                        {gt: 8, lte: 20, label: '20小时'},
                        {gt: 20, label: '20小时以上'}
                    ],
                    color: ['#50a3ba', '#eac736', '#d94e5d'],
                    textStyle: {
                        color: '#FFF'
                    },
                    dimension: 7
                },
                bmap: {
                    center: center,
                    zoom: zoom,
                    roam: true,
                    mapStyle: mapStyle_black
                },
                series: [
                    {
                        name: '本站',
                        zlevel: 10,
                        coordinateSystem: 'bmap',
                        type: 'effectScatter',
                        symbol: 'diamond',
                        symbolSize: 5 * zoom,
                        showEffectOn: 'render',
                        rippleEffect: {
                            brushType: 'stroke'
                        },
                        data: [data[0]],
                        label: {
                            normal: {
                                formatter: function (params) {
                                    return params.value[2]
                                },
                                show: true
                            }
                        },
                        tooltip: {
                            formatter: function () {
                                return station + '<br/>'
                                    + '连通车站：' + (data.length - 1) + ' 座<br/>'
                            }
                        }
                    },
                    {
                        name: '车站',
                        zlevel: 5,
                        coordinateSystem: 'bmap',
                        type: 'scatter',
                        symbolSize: function (val) {
                            return Math.sqrt(val[6]) + zoom;
                        },
                        data: data.slice(1),
                        label: {
                            emphasis: {
                                formatter: function (params) {
                                    return params.value[2]
                                },
                                show: true
                            }
                        },
                        tooltip: {
                            formatter: function (params) {
                                params = params.value;
                                return params[2] + '<br/>'
                                    + '最快：' + params[7] + ' 小时<br/>'
                                    + '数量：' + params[6] + ' 车次<br/>'
                            }
                        },
                        itemStyle: {
                            normal: {
                                opacity: 1,
                                shadowColor: '#FFF',
                                shadowBlur: 2
                            },
                            emphasis: {
                                borderColor: '#FFF',
                                borderWidth: 1
                            }
                        }
                    }
                ]
            };
            map.on('click', function (param) {
                document.location.href = '{% url 'station' '*' %}'.replace('*', param['data'][2])
            });
            map.setOption(option);
        }
    {% endblock %}
</script>