{% extends 'template.html' %}
{% block head %}
    <style>
        #masonry h5 {
            margin: 0;
            color: #000
        }

        #masonry p {
            margin: 0;
            color: #AAA;
            font-size: 10px
        }

        #masonry a:hover {
            background-color: #EEE
        }

        #masonry a:hover > h5, #masonry a:hover > p {
            font-weight: bold
        }
    </style>
{% endblock %}
{% block content %}
    <div id="masonry">
    </div>
{% endblock %}
{% block script %}
    <script>
        $("a:contains('车站')").addClass('active');
        var img_start = 0;
        var scrollTop = 0;
        masonry(scrollTop);
        $(window).scroll(function () {
            scrollTop = $(this).scrollTop();
            masonry(scrollTop)
        });

        function masonry() {
            $('#masonry').masonry({itemSelector: 'a'});
            if ($('#footer').offset().top < $(window).height() * 2 + scrollTop) {
                $.each(({{ stations|safe }}).slice(img_start, img_start + 10), function () {
                    img_start = img_start + 1;
                    var a = $('<a>').addClass('img-thumbnail').css({'max-width': '210px', 'margin': '4px'}).attr({
                        'href': '{% url 'station' '*' %}'.replace('*', this.cn)
                    }).append(
                        $('<img>').attr({
                            'alt': this.cn,
                            'src': '{{ qiniu }}' + this.cn + '{{ format }}'
                        })
                    ).append($('<h5>').text(this.cn)).append($('<p>').text(this.province + ' ' + this.city + ' ' + this.county));
                    $('#masonry').append(a).masonry('appended', a);
                });
                $('#masonry').imagesLoaded(function () {
                    masonry(scrollTop)
                });
            }
        }

        $(window).resize(function () {
            masonry(scrollTop);
        });
    </script>q5``1\
{% endblock %}